<div class="userDetail" *ngIf="usuario">
  <div class="datosPersonales">
    <div class="nombreyapellidos contenedorDatosPersonales">
      <div><img src="{{usuario.avatar_hash}}" class="imgUser"></div>
      <div>
        <span>{{usuario.name}}</span>
        <span>{{usuario.surname}}</span>
      </div>
    </div>
    <div class ="contenedorDatosPersonales info">
      <div class="bloque">
        <label>Email:</label>
        <div><span>{{usuario.email}}</span></div>
      </div>
      <div class="bloque">
        <label>Fecha de nacimiento:</label>
        <div><span>{{usuario.birthdate}}</span></div>
      </div>
      <div class="bloque">
        <label>Teléfono:</label>
        <div><span>{{usuario.phone}}</span></div>
      </div>
      <div class="bloque">
        <label>NIF/NIE:</label>
        <div><span>{{usuario.documentNumber}}</span></div>
      </div>
      <div class="bloque">
        <label>Permisos de conducir:</label>
        <div><span>{{usuario.license}}</span></div>
      </div>
    </div>
    <div class="contenedorDatosPersonales">
      <label>Acerca de mi...</label>
      <div><span>{{usuario.aboutMe}}</span></div>
    </div>
    <div class="contenedorDatosPersonales">
      <label>Otras competencias</label>
      <div><span>{{usuario.otherCompetences}}</span></div>
    </div>
    <div class="editar">
      <button type="submit" class="btnEdit" (click)="editarDatosPersonales()">Editar</button>
    </div>
  </div>
  <div class="formacionAcademica">
    <h2>Formación Académica</h2>
    <div class="tablaEstudios">
      <table class="table table-striped">
        <tr>
          <th class="tam10" scope="col">Nivel</th>
          <th class="tam30" scope="col">Título</th>
          <th class="tam30" scope="col">Centro</th>
          <th class="tam10" scope="col">Fecha</th>
          <th class="tam10" scope="col">Certificado</th>
          <th class="tam10" scope="col">Acciones</th>
        </tr>
        <tr *ngFor="let formacion of this.usuario.studies">
          <td>{{formacion.level.name}}</td>
          <td>{{formacion.title.name}}</td>
          <td>{{formacion.grade.name}}</td>
          <td>{{formacion.date}}</td>
          <td>{{formacion.certificate}}</td>
          <td><i class="fas fa-pencil-alt" (click)="editEstudio(formacion.uid.toString())"></i><i class="far fa-times-circle" (click)="deleteEstudio(formacion.uid.toString())"></i></td>
        </tr>
      </table>
    </div>

    <div class="nuevo">
      <button type="submit" class="btnAdd" (click)="addEstudio()">Nuevo</button>
    </div>
  </div>
  <div class="experienciaLaboral">
    <h2>Experiencia Laboral</h2>
    <div class="tablaExperiencia">
      <table>
        <tr>
          <th class="tam30" scope="col">Empresa</th>
          <th class="tam30" scope="col">Puesto</th>
          <th class="tam30" scope="col">Fechas</th>
          <th class="tam10" scope="col">Acciones</th>
        </tr>
        <tr *ngFor="let experiencia of this.usuario.experiencies">
          <td>{{experiencia.company}}</td>
          <td>{{experiencia.position}}</td>
          <td>{{experiencia.date}}</td>
          <td><i class="fas fa-pencil-alt" ></i><i class="far fa-times-circle" ></i></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="idiomas">
    <h2>Idioma</h2>
    <div class="tablaIdiomas">
      <table>
        <tr>
          <th class="tam30" scope="col">Nivel</th>
          <th class="tam30" scope="col">Idioma</th>
          <th class="tam40" scope="col">Fecha</th>
          <th class="tam10" scope="col">Acciones</th>
        </tr>
        <tr *ngFor="let idioma of this.usuario.languages">
          <td>{{idioma.level.name}}</td>
          <td>{{idioma.name.name}}</td>
          <td>{{idioma.date}}</td>
          <td><i class="fas fa-pencil-alt" (click)="editIdioma(idioma.uid.toString())"></i><i class="far fa-times-circle" (click)="deleteIdioma(idioma.uid.toString())"></i></td>
        </tr>
      </table>
    </div>
    <div class="nuevo">
      <button type="submit" class="btnAdd" (click)="addIdioma()">Nuevo</button>
    </div>
  </div>
</div>
