form input.ng-invalid.ng-touched {
  border-color: #FA787E;
}

.w-40 {
  width: 40%;
  margin-left: 2%;
  margin-right: 8%;
}

.w-90 {
  width: 90%;
  margin-left: 2%;
  margin-right: 8%;
  float: left;
}

.flotarDerecha {
  float: right;
  margin-right: 8%;
}

.fila {
  display: block;
  overflow: auto;
  width:100%;
}
