<form fxFlex  [formGroup]="rForm" (ngSubmit)="submit()">
  <div fxFlex  fxlayout="row" class="fila" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Empresa</mat-label>
        <input matInput formControlName="empresa" >
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Puesto</mat-label>
        <input matInput formControlName="puesto" >
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" class="fila" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="date_inicio" formControlName="date_inicio" placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matSuffix [for]="date_inicio" ></mat-datepicker-toggle>
        <mat-datepicker #date_inicio></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Fecha de fin</mat-label>
        <input matInput [matDatepicker]="date_fin" formControlName="date_fin" placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matSuffix [for]="date_fin" ></mat-datepicker-toggle>
        <mat-datepicker #date_fin></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" class="fila" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-90">
        <mat-label>Tareas</mat-label>
        <textarea matInput formControlName="tareas" ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxLayout="row" class="fila" fxLayout.lt-md="column">
    <div fxFlexFill>
      <button class="flotarDerecha" mat-raised-button type="submit" color="primary" [disabled]="rForm.invalid">Guardar</button>
    </div>
  </div>

</form>
