<form fxFlex  [formGroup]="rForm" (ngSubmit)="save()">
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" >
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="surname" >
      </mat-form-field>
    </div>
  </div>

  <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Fecha nacimiento</mat-label>
        <input matInput [matDatepicker]="birthdatePicker" formControlName="birthdate" placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matSuffix [for]="birthdatePicker" ></mat-datepicker-toggle>
        <mat-datepicker #birthdatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone" >
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Otro teléfono</mat-label>
        <input matInput formControlName="phone2" >
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="documentType" name="documentType" [compareWith]="compareByUID">
          <mat-option *ngFor="let documentType of documentsType" [value]="documentType">
            {{documentType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Nº Documento</mat-label>
        <input matInput formControlName="documentNumber" >
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Calle</mat-label>
        <input matInput formControlName="street" >
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="province" name="province" [compareWith]="compareByUID">
          <mat-option *ngFor="let province of provinces" [value]="province">
            {{province.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="municipe" name="municipe" [compareWith]="compareByUID">
          <mat-option *ngFor="let municipe of municipes" [value]="municipe">
            {{municipe.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Acerca de mi</mat-label>
        <textarea matInput formControlName="aboutMe" ></textarea>
      </mat-form-field>
      <mat-form-field class="w-40">
        <mat-label>Otras competencias</mat-label>
        <textarea matInput formControlName="otherCompetences" ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Licencias</mat-label>
        <textarea matInput formControlName="license" ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
    <div fxFlexFill>
      <button class="flotarDerecha" mat-raised-button type="submit" color="primary" [disabled]="rForm.invalid">Guardar</button>
    </div>
  </div>

</form>
