<form class="contenedor" [formGroup]="idiomaForm" >
  <div class="form-group">
    <label>Nombre</label>
    <select formControlName="language" #language >
      <option [ngValue]="">Elige una opción</option>
      <option *ngFor="let lan of allLanguages" [ngValue]="lan.uid">
        {{ lan.name }}
      </option>
    </select>
    <label>Indique aquí el idioma</label>
    <input type="text" (show)="language.selectedIndex === 4" class="form-control" #otro name="otro" id="otro"  formControlName="otro" required="" ">
    <label>Nivel</label>
    <select formControlName="nivel" #nivel>
      <option [ngValue]="">Elige una opción</option>
      <option *ngFor="let niv of allNiveles" [ngValue]="niv.uid">
        {{ niv.name }}
      </option>
    </select>
    <label>Fecha del título</label>
    <input type="text"  class="form-control" #date name="date" id="date"  formControlName="date" placeholder="dd/mm/yyyy">
    <div class="d-flex justify-content-center mt-3 login_container salto">
      <button type="submit" class="btn" [disabled]="!estudioForm.valid" >Guardar</button>
      <!--(click)="anadirAve(bird_name.value, bird_description.value, place.value, lat.value, long.value, $event)"-->
    </div>
  </div>
</form>
