<form fxFlex  [formGroup]="rForm" >
  <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
    <div fxFlexFill>
      <mat-form-field class="w-40">
        <mat-label>Tipo formación</mat-label>
        <mat-select formControlName="option" name="option" [compareWith]="compareOption">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-vocational-form
    *ngIf="isSelectVocational()"
    [study]="study"
    (onSave)="saveOrUpdate($event)"
  ></app-vocational-form>

  <app-university-degree-form
    *ngIf="isSelectUniversity()"
    [study]="study"
    (onSave)="saveOrUpdate($event)"
  ></app-university-degree-form>
</form>
