<div class="login-page">
  <div class="content">
    <form  fxFlex  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-toolbar class="app-name" color="primary">
        <span class="fill-remaining-space">Login</span>
      </mat-toolbar>
      <div class="login-form">
        <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
          <div fxFlexFill>
            <mat-error class="w-100">
              <span *ngIf="errorLogin">There is an error in email or password</span>
            </mat-error>
            <mat-form-field class="w-100">
              <input matInput formControlName="email" placeholder="Email" [ngClass]="{
                    'is-invalid': submitted && loginForm.controls.email.errors}">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <mat-form-field class="w-100">
              <input matInput formControlName="password" type="password" placeholder="Password"  [ngClass]="{
                    'is-invalid': submitted && loginForm.controls.password.errors
                  }">
            </mat-form-field>
          </div>
        </div>
        <div fxFlex fxLayout="row" fxLayout.lt-md="column">
          <div fxFlexFill>
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
            <a routerLink="/forgot-password" class="derecha">Remember password</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
