<form class="contenedor" [formGroup]="loginForm" >
  <div class="form-group">
     <div class="formulario">
       <span id="usuNoEncontrado" class="alert alert-danger" *ngIf="usuarioNoEncontrado !== null && usuarioNoEncontrado !== ''">{{usuarioNoEncontrado}}</span>
      <!-- Para no tener que poner en los inputs la etiqueta ngModel, ponemos la abreviatura # -->
      <div class="campo">
        <div class="alert  alert-danger" *ngIf="loginForm.hasError('required', 'email')">
          El email es obligatorio
        </div>
        <div class="alert  alert-danger" *ngIf="loginForm.hasError('email', 'email')">
          El formato de email no es correcto
        </div>
        <div class="bloqueCampo">
          <label>Email: </label>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <input type="text" class="form-control" #email placeholder="email" name="email" id="email" formControlName="email" required>
          </div>
        </div>
      </div>

      <div class="campo">
        <div class="alert alert-danger" *ngIf="loginForm.hasError('required', 'password')">
          La contraseña es obligatoria
        </div>
        <div class="bloqueCampo">
          <label>Password: </label>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-key"></i>
              </span>
            </div>
            <input type="password" class="form-control" #password formControlName="password" placeholder="Password" required>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-3 login_container">
      <button type="submit" class="btnLogin" [disabled]="!loginForm.valid" (click)="logIn(email.value, password.value, $event)">Login</button>
      <button type="submit" class="btnRemember">Remember password</button>
    </div>
  </div>
</form>
